#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page-map aside {
  width: 440px;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-map aside h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 24px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .create-orphanage {
  position: absolute;
  z-index: 10;
  bottom: 40px;
  right: 40px;
  width: 64px;
  height: 64px;
  background-color: #15c3d6;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-map .create-orphanage:hover{
  background-color: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#page-map .map-popup .leaflet-popup-content {
  color: #15c3d6;
  font-size: 25px;
  font-weight: bold;
  margin: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-map .map-popup .leaflet-popup-content a {
  width: 48px;
  height: 48px;
  background: #17d6eb;
  /* box-shadow: 17px 27px 41px rgba(20, 140, 160, 0.16); */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}